body {
  background-color: #eaf6f6;
}
form {
  padding: 25px;
  margin: 0 auto;
}
h1 {
  color: #155263;
  border: 2px solid #d9dad7;
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  margin: 5px;
  padding: 10px;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #155263;
}
.container {
  border: 3px solid #155263;
  width: 70%;
  border-radius: 8px;
  padding: 10px;
  margin: 20px auto;
  display: 0 block;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #ffff;
  max-width: 600px;
  min-width: 425px;
}
.search-bar {
  margin: 0 auto;
  display: 0 block;
  text-align: center;
}
.todays-conditions {
  font-size: 15px;
  padding: 10px;
  position: relative;
  top: -7px;
  left: -10px;
  color: #155263;
}
.mainDay {
  margin: 10px;
}
.lastUpdated {
  font-size: 8px;
}
.fiveDayForcast {
  margin: 20px;
  font-size: 15px;
  text-align: center;
}
.sign-off {
  color: #155263;
  font-size: 12px;
  text-align: center;
}
.units {
  font-size: 18px;
  color: #155263;
}
.units .active {
  font-size: 24px;
  color: #155263;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}
#current-temperature {
  font-size: 24px;
}
